Repository AlesInfiny/maris, pull requests merged in 2025-04, with the labels that each got.

#2560 ConsoleAppWithDIからMaris.Logging.Testingを削除する
  samples/ConsoleAppWithDI/solution/ConsoleAppWithDI.sln
  samples/ConsoleAppWithDI/solution/Directory.Packages.props
  samples/ConsoleAppWithDI/solution/README.md
  samples/ConsoleAppWithDI/solution/readme-images/load-projects-to-solution.png
  samples/ConsoleAppWithDI/solution/src/Maris.Logging.Testing/Maris.Logging.Testing.csproj
  samples/ConsoleAppWithDI/solution/src/Maris.Logging.Testing/Xunit/FakeLoggingBuilderExtensions.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Logging.Testing/Xunit/TestLoggerManager.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Logging.Testing/Xunit/TestLoggerServiceCollectionExtensions.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Logging.Testing/Xunit/XunitLogger.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Logging.Testing/Xunit/XunitLoggerProvider.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Logging.Testing/Xunit/XunitLoggingBuilderExtensions.cs
  samples/ConsoleAppWithDI/solution/tests/Maris.ConsoleApp.IntegrationTests/Maris.ConsoleApp.IntegrationTests.csproj
  samples/ConsoleAppWithDI/solution/tests/Maris.ConsoleApp.UnitTests/Maris.ConsoleApp.UnitTests.csproj
Labels: target: ConsoleAppWithDI

#2573 ConsoleAppWithDIのNuGetパッケージを更新する
  samples/ConsoleAppWithDI/solution/Directory.Packages.props
Labels: dependencies, nuget, target: ConsoleAppWithDI

#2563 xUnit v3移行によるドキュメント修正
  documents/_materials/images/app-architecture/client-side-rendering/tech-stack-dark.drawio
  documents/_materials/images/app-architecture/client-side-rendering/tech-stack-light.drawio
  documents/contents/app-architecture/client-side-rendering/csr-architecture-overview.md
  documents/contents/app-architecture/client-side-rendering/test/backend-application/index.md
  documents/contents/app-architecture/client-side-rendering/test/backend-application/integration-test.md
  documents/contents/guidebooks/how-to-develop/dotnet/configure-integration-test-project.md
  documents/contents/guidebooks/how-to-develop/dotnet/create-project.md
  documents/contents/guidebooks/how-to-develop/dotnet/project-settings.md
  documents/contents/images/app-architecture/client-side-rendering/tech-stack-dark.png
  documents/contents/images/app-architecture/client-side-rendering/tech-stack-light.png
  documents/contents/samples/console-app-with-di/index.md
Labels: target: アーキテクチャ/CSR, target: ガイド/AP開発手順, target: サンプル解説

#2583 ドキュメントに記載されたGitHubの名称を正式な記載に修正する
  .github/workflows/build-and-release-documents.yml
  documents/README.md
Labels: CI/CD, target: 管理系ドキュメント

#2582 VSCode用のtextlint拡張機能を変更する
  documents/README.md
  maris.code-workspace
Labels: 内部の改善

#2594 (ADB2C)フロントエンドアプリケーションをMaiaから移植
  samples/AzureADB2CAuth/auth-frontend/app/.prettierignore
  samples/AzureADB2CAuth/auth-frontend/app/openapitools.json
  samples/AzureADB2CAuth/auth-frontend/app/package.json
  samples/AzureADB2CAuth/auth-frontend/app/src/App.vue
  samples/AzureADB2CAuth/auth-frontend/app/src/generated/api-client/.openapi-generator/VERSION
  samples/AzureADB2CAuth/auth-frontend/app/src/generated/api-client/configuration.ts
  samples/AzureADB2CAuth/auth-frontend/app/src/main.ts
  samples/AzureADB2CAuth/auth-frontend/app/src/shared/error-handler/global-error-handler.ts
  samples/AzureADB2CAuth/auth-frontend/app/src/stores/authentication/authentication.ts
  samples/AzureADB2CAuth/auth-frontend/app/src/stores/server-time/server-time.ts
  samples/AzureADB2CAuth/auth-frontend/app/src/stores/user/user.ts
  samples/AzureADB2CAuth/auth-frontend/package-lock.json
Labels: dependencies, npm, target: Azure AD B2C Auth

#2574 Azure AD B2CサンプルのNuGetパッケージを更新する
  samples/AzureADB2CAuth/auth-backend/Directory.Packages.props
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web/dressca-api.json
Labels: dependencies, nuget, target: Azure AD B2C Auth

#2607 特定のパターンでカタログアイテムの単価の入力フォームのバリデーションが動作しない件に対処
  samples/Dressca/dressca-frontend/admin/src/validation/validation-items.ts
  samples/Dressca/dressca-frontend/admin/src/views/catalog/ItemsAddView.vue
  samples/Dressca/dressca-frontend/admin/src/views/catalog/ItemsEditView.vue
Labels: target: Dressca

#2609 グローバルエラーハンドラーとモックモードに関するドキュメントを追加
  documents/contents/guidebooks/how-to-develop/vue-js/error-handler-settings.md
  documents/contents/guidebooks/how-to-develop/vue-js/index.md
  documents/contents/guidebooks/how-to-develop/vue-js/mock-mode-settings.md
  documents/mkdocs.yml
Labels: target: ガイド/AP開発手順

#2618 .NET SDK 8系を利用できるよう global.json を修正
  documents/contents/guidebooks/how-to-develop/dotnet/project-settings.md
  samples/AzureADB2CAuth/auth-backend/global.json
  samples/ConsoleAppWithDI/solution/global.json
  samples/Dressca/dressca-backend/global.json
Labels: 不具合, target: Dressca, target: ConsoleAppWithDI, target: ガイド/AP開発手順, target: Azure AD B2C Auth

#2626 Dresscaの実行時にlocalhostの証明書をインストールと再起動することを追記する
  documents/contents/images/install-localhost-server-certificate.png
  documents/contents/images/trust-aspnet-ssl-certificate.png
  documents/contents/index.md
Labels: target: トップページ/テンプレート

#2636 Update configuration-management.md
  documents/contents/app-architecture/overview/configuration-management.md
Labels: target: アーキテクチャ/概要

#2608 エラーイベントログをconsole.errorに修正
  documents/contents/guidebooks/how-to-develop/vue-js/error-handler-settings.md
  samples/AzureADB2CAuth/auth-frontend/app/src/services/authentication/authentication-service.ts
  samples/AzureADB2CAuth/auth-frontend/app/src/shared/error-handler/global-error-handler.ts
  samples/Dressca/dressca-frontend/admin/src/shared/error-handler/global-error-handler.ts
  samples/Dressca/dressca-frontend/consumer/src/shared/error-handler/global-error-handler.ts
Labels: 不具合, target: アーキテクチャ/CSR, target: Dressca, target: ガイド/AP開発手順, target: Azure AD B2C Auth

#2647 カタログアイテムの削除を論理削除にする
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/ApplicationService/CatalogApplicationService.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/ApplicationService/CatalogItemNotExistingInRepositoryException.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Catalog/CatalogItem.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Catalog/ICatalogRepository.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Resources/Messages.Designer.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Resources/Messages.resx
  samples/Dressca/dressca-backend/src/Dressca.EfInfrastructure/Configurations/Catalog/CatalogItemConfiguration.cs
  samples/Dressca/dressca-backend/src/Dressca.EfInfrastructure/EfCatalogRepository.cs
  samples/Dressca/dressca-backend/src/Dressca.EfInfrastructure/Migrations/20250425023655_InitialCreate.Designer.cs
  samples/Dressca/dressca-backend/src/Dressca.EfInfrastructure/Migrations/20250425023655_InitialCreate.cs
  samples/Dressca/dressca-backend/src/Dressca.EfInfrastructure/Migrations/DresscaDbContextModelSnapshot.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin.Dto/CatalogItems/GetCatalogItemResponse.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin.Dto/CatalogItems/PutCatalogItemRequest.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/Controllers/CatalogItemsController.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/Mapper/CatalogItemMapper.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/dressca-admin-api.json
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.ApplicationCore/ApplicationService/CatalogApplicationServiceTest.cs
  samples/Dressca/dressca-frontend/admin/mock/data/catalog-items.ts
  samples/Dressca/dressca-frontend/admin/src/generated/api-client/models/get-catalog-item-response.ts
  samples/Dressca/dressca-frontend/admin/src/generated/api-client/models/put-catalog-item-request.ts
  samples/Dressca/dressca-frontend/admin/src/services/catalog/catalog-service.ts
  samples/Dressca/dressca-frontend/admin/src/views/catalog/ItemsEditView.vue
  samples/Dressca/dressca-frontend/admin/src/views/catalog/ItemsView.vue
  samples/Dressca/dressca-frontend/package-lock.json
Labels: target: Dressca
