Repository AlesInfiny/maris, pull requests merged in 2025-01, with the labels that each got.

#2215 ワークフローのサードパーティーアクションのバージョンをコミットハッシュで固定する
  .github/workflows/build-and-release-documents.yml
  .github/workflows/check-openapi-generator-update.yml
  .github/workflows/remove-old-artifacts.yml
  .github/workflows/samples-azure-ad-b2c-auth-ci.yml
  .github/workflows/samples-console-app-with-di.ci.yml
  .github/workflows/samples-dressca-admin-backend.ci.yml
  .github/workflows/samples-dressca-consumer-backend.ci.yml
Labels: CI/CD

#2241 softprops/action-gh-releaseのバージョンを v2.2.1 に更新
  .github/workflows/build-and-release-documents.yml
Labels: dependencies, CI/CD

#2239 XMLコメントの文体を統一する
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web.Dto/ServerTime/ServerTimeResponse.cs
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web.Dto/Users/UserResponse.cs
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web/Configuration/WebServerOptions.cs
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web/Controllers/ServerTimeController.cs
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web/Controllers/UsersController.cs
  samples/ConsoleAppWithDI/solution/src/Maris.ConsoleApp.Core/Events.cs
  samples/ConsoleAppWithDI/solution/src/Maris.ConsoleApp.Core/Resources/StringExtensions.cs
  samples/ConsoleAppWithDI/solution/src/Maris.ConsoleApp.Hosting/Events.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.ApplicationCore/Events.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.Cli/Commands/CommandResult.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.Cli/Events.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/ApplicationService/CatalogApplicationService.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Assets/Asset.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Assets/IAssetRepository.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Assets/IAssetStore.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Baskets/Basket.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Baskets/BasketItem.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Baskets/IBasketRepository.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Catalog/CatalogDomainService.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Catalog/ICatalogBrandRepository.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Catalog/ICatalogCategoryRepository.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Catalog/ICatalogDomainService.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Catalog/ICatalogRepository.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Ordering/IOrderFactory.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Ordering/IOrderRepository.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Ordering/Order.cs
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Ordering/OrderFactory.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin.Dto/CatalogItems/PostCatalogItemRequest.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/Authorization/UserStore.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/Controllers/UsersController.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer.Dto/Accounting/AccountResponse.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer.Dto/Baskets/BasketItemResponse.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer/Configuration/CookieSettings.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer/Configuration/ValidateWebServerOptions.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer/Configuration/WebServerOptions.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer/Events.cs
  samples/Dressca/dressca-backend/src/Dressca.Web/Authorization/DummyAuthenticationHandler.cs
  samples/Dressca/dressca-backend/src/Dressca.Web/Configuration/CookieSettings.cs
  samples/Dressca/dressca-backend/src/Dressca.Web/Configuration/ValidateWebServerOptions.cs
  samples/Dressca/dressca-backend/src/Dressca.Web/Configuration/WebServerOptions.cs
  samples/Dressca/dressca-backend/src/Dressca.Web/Events.cs
  samples/Dressca/dressca-backend/src/Dressca.Web/Runtime/BusinessExceptionFilter.cs
Labels: target: Dressca, target: ConsoleAppWithDI, target: Azure AD B2C Auth, 内部の改善

#2244 AzureADB2Cサンプルをopenapi-generatorのアップデート検知ワークフローの対象にする
  .github/workflows/check-openapi-generator-update.yml
Labels: CI/CD, 内部の改善

#2249 XMLコメントの変更をOpenAPI仕様書・クライアントコードに反映する
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web/dressca-api.json
  samples/AzureADB2CAuth/auth-frontend/app/src/generated/api-client/models/server-time-response.ts
  samples/AzureADB2CAuth/auth-frontend/app/src/generated/api-client/models/user-response.ts
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/dressca-admin-api.json
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer/dressca-api.json
  samples/Dressca/dressca-frontend/admin/src/generated/api-client/models/post-catalog-item-request.ts
  samples/Dressca/dressca-frontend/consumer/src/generated/api-client/models/account-response.ts
  samples/Dressca/dressca-frontend/consumer/src/generated/api-client/models/basket-item-response.ts
Labels: target: Dressca, target: Azure AD B2C Auth

#2250 openapi-generator@7.10.0にアップデートする
  samples/AzureADB2CAuth/auth-frontend/app/openapitools.json
  samples/AzureADB2CAuth/auth-frontend/app/src/generated/api-client/.openapi-generator/VERSION
  samples/Dressca/dressca-frontend/admin/openapitools.json
  samples/Dressca/dressca-frontend/admin/src/generated/api-client/.openapi-generator/VERSION
  samples/Dressca/dressca-frontend/consumer/openapitools.json
  samples/Dressca/dressca-frontend/consumer/src/generated/api-client/.openapi-generator/VERSION
Labels: target: Dressca, target: Azure AD B2C Auth

#2269 Dressca のフロントエンドについて Maia v1.0 の変更を移植
  samples/Dressca/dressca-frontend/admin/mock/handlers/users.ts
  samples/Dressca/dressca-frontend/admin/package.json
  samples/Dressca/dressca-frontend/admin/src/shared/constants/roles.ts
  samples/Dressca/dressca-frontend/admin/src/stores/authentication/authentication.ts
  samples/Dressca/dressca-frontend/admin/src/views/__tests__/ItemsAddView.spec.ts
  samples/Dressca/dressca-frontend/admin/src/views/__tests__/ItemsEditView.spec.ts
  samples/Dressca/dressca-frontend/admin/src/views/catalog/ItemsAddView.vue
  samples/Dressca/dressca-frontend/admin/src/views/catalog/ItemsEditView.vue
  samples/Dressca/dressca-frontend/consumer/package.json
  samples/Dressca/dressca-frontend/consumer/src/App.vue
  samples/Dressca/dressca-frontend/consumer/src/api-client/index.ts
  samples/Dressca/dressca-frontend/consumer/src/components/basket/BasketItem.vue
  samples/Dressca/dressca-frontend/consumer/src/components/common/NotificationToast.vue
  samples/Dressca/dressca-frontend/consumer/src/config/yup.config.ts
  samples/Dressca/dressca-frontend/consumer/src/locales/en/messageList_en.json
  samples/Dressca/dressca-frontend/consumer/src/locales/en/validationTextList_en.json
  samples/Dressca/dressca-frontend/consumer/src/locales/i18n.ts
  samples/Dressca/dressca-frontend/consumer/src/locales/ja/messageList_ja.json
  samples/Dressca/dressca-frontend/consumer/src/locales/ja/validationTextList_ja.json
  samples/Dressca/dressca-frontend/consumer/src/main.ts
  samples/Dressca/dressca-frontend/consumer/src/services/notification/notificationService.ts
  samples/Dressca/dressca-frontend/consumer/src/shared/error-handler/custom-error-handler.ts
  samples/Dressca/dressca-frontend/consumer/src/shared/error-handler/custom-error.ts
  samples/Dressca/dressca-frontend/consumer/src/shared/error-handler/error-message-format.ts
  samples/Dressca/dressca-frontend/consumer/src/stores/notification/notification.ts
  samples/Dressca/dressca-frontend/consumer/src/validation/validation-items.ts
  samples/Dressca/dressca-frontend/consumer/src/views/authentication/LoginView.vue
  samples/Dressca/dressca-frontend/consumer/src/views/basket/BasketView.vue
  samples/Dressca/dressca-frontend/consumer/src/views/catalog/CatalogView.vue
  samples/Dressca/dressca-frontend/consumer/src/views/error/ErrorView.vue
  samples/Dressca/dressca-frontend/consumer/src/views/ordering/CheckoutView.vue
  samples/Dressca/dressca-frontend/consumer/src/views/ordering/DoneView.vue
  samples/Dressca/dressca-frontend/package-lock.json
Labels: target: Dressca

#2268 AzureADB2C サンプルのフロントエンドについて Maia v1.0 の変更を反映
  samples/AzureADB2CAuth/auth-frontend/app/package.json
  samples/AzureADB2CAuth/auth-frontend/package-lock.json
Labels: target: Azure AD B2C Auth

#2280 Dresscaの依存するNuGetパッケージを更新（8.0.11 > 8.0.12）
  samples/Dressca/dressca-backend/Directory.Packages.props
Labels: dependencies, nuget

#2288 AzureADB2Cサンプルとconsumerのpreview時のポートを未指定（デフォルト値）に統一
  samples/AzureADB2CAuth/auth-frontend/app/package.json
  samples/Dressca/dressca-frontend/consumer/package.json
Labels: target: Dressca, target: Azure AD B2C Auth, 内部の改善

#2289 クイックスタートで実行するプロジェクトを [Dressca.Web] から [Dressca.Web.Consumer] に変更
  documents/contents/images/select-startup-project.png
  documents/contents/index.md
Labels: target: トップページ/テンプレート

#2290 ソリューションフィルターの説明図の誤字脱字を修正
  documents/_materials/images/guidebooks/how-to-develop/dotnet/solution-filter-dark.drawio
  documents/_materials/images/guidebooks/how-to-develop/dotnet/solution-filter-light.drawio
  documents/contents/images/guidebooks/how-to-develop/dotnet/solution-filter-dark.png
  documents/contents/images/guidebooks/how-to-develop/dotnet/solution-filter-light.png
Labels: 不具合

#2309 注意書きのテキストボックスの表示崩れを修正
  documents/contents/guidebooks/how-to-develop/dotnet/create-solution-structure.md
Labels: 不具合, target: ガイド/AP開発手順

#2338 issueの作成処理の終了ステータスが不正な場合にワークフローを異常終了させる
  .github/workflows/check-openapi-generator-update.yml
Labels: CI/CD, 内部の改善

#2323 リポジトリに引数として渡されるオブジェクトの検証
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.ApplicationCore/ApplicationService/OrderApplicationServiceTest.cs
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.ApplicationCore/ApplicationService/ShoppingApplicationServiceTest.cs
Labels: target: Dressca

#2324 OrderFactoryの単体テストを追加する
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.ApplicationCore/Ordering/OrderFactoryTest.cs
Labels: target: Dressca
