Repository AlesInfiny/maris, pull requests merged in 2025-05, with the labels that each got.

#2709 開発環境においてSQLログへ詳細な情報を出力できるようにする
  samples/Dressca/dressca-backend/src/Dressca.EfInfrastructure/EfInfrastructureServicesExtension.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/Program.cs
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer/Program.cs
  samples/Dressca/dressca-backend/tests/Dressca.IntegrationTest/IntegrationTestWebApplicationFactory.cs
  samples/Dressca/dressca-backend/tests/Dressca.Web.Admin.IntegrationTest/IntegrationTestWebApplicationFactory.cs
Labels: target: Dressca

#2712 StyleCop Analyzersの参照設定方法をグローバルパッケージ参照に変更
  documents/contents/guidebooks/how-to-develop/dotnet/project-settings.md
  samples/AzureADB2CAuth/auth-backend/Directory.Packages.props
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web.Dto/Dressca.Web.Dto.csproj
  samples/AzureADB2CAuth/auth-backend/src/Dressca.Web/Dressca.Web.csproj
  samples/AzureADB2CAuth/auth-backend/tests/.editorconfig
  samples/AzureADB2CAuth/auth-backend/tests/Dressca.IntegrationTest/ApiTest.cs
  samples/AzureADB2CAuth/auth-backend/tests/Dressca.IntegrationTest/ApiTestWebApplicationFactory.cs
  samples/ConsoleAppWithDI/solution/Directory.Build.props
  samples/ConsoleAppWithDI/solution/Directory.Packages.props
  samples/ConsoleAppWithDI/solution/src/Maris.ConsoleApp.Core/Maris.ConsoleApp.Core.csproj
  samples/ConsoleAppWithDI/solution/src/Maris.ConsoleApp.Hosting/Maris.ConsoleApp.Hosting.csproj
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.ApplicationCore/Events.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.ApplicationCore/ProductApplicationService.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.Cli/Commands/CommandResult.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.Cli/Commands/GetProductsByUnitPriceRange/Command.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.Cli/Events.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.Cli/Program.cs
  samples/ConsoleAppWithDI/solution/src/Maris.Samples.InMemoryInfrastructure/ProductsRepository.cs
  samples/ConsoleAppWithDI/solution/tests/Maris.ConsoleApp.IntegrationTests/Maris.ConsoleApp.IntegrationTests.csproj
  samples/ConsoleAppWithDI/solution/tests/Maris.ConsoleApp.UnitTests/Maris.ConsoleApp.UnitTests.csproj
  samples/Dressca/dressca-backend/Directory.Packages.props
  samples/Dressca/dressca-backend/src/Dressca.ApplicationCore/Dressca.ApplicationCore.csproj
  samples/Dressca/dressca-backend/src/Dressca.EfInfrastructure/Dressca.EfInfrastructure.csproj
  samples/Dressca/dressca-backend/src/Dressca.Store.Assets.StaticFiles/Dressca.Store.Assets.StaticFiles.csproj
  samples/Dressca/dressca-backend/src/Dressca.SystemCommon/Dressca.SystemCommon.csproj
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin.Dto/Dressca.Web.Admin.Dto.csproj
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/Dressca.Web.Admin.csproj
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer.Dto/Dressca.Web.Consumer.Dto.csproj
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer/Dressca.Web.Consumer.csproj
  samples/Dressca/dressca-backend/src/Dressca.Web/Dressca.Web.csproj
  samples/Dressca/dressca-backend/tests/Dressca.IntegrationTest/Dressca.IntegrationTest.csproj
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.ApplicationCore/Dressca.UnitTests.ApplicationCore.csproj
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.SystemCommon/Dressca.UnitTests.SystemCommon.csproj
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.Web.Admin/Dressca.UnitTests.Web.Admin.csproj
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.Web.Consumer/Dressca.UnitTests.Web.Consumer.csproj
  samples/Dressca/dressca-backend/tests/Dressca.UnitTests.Web/Dressca.UnitTests.Web.csproj
  samples/Dressca/dressca-backend/tests/Dressca.Web.Admin.IntegrationTest/Dressca.Web.Admin.IntegrationTest.csproj
Labels: target: Dressca, target: ConsoleAppWithDI, target: ガイド/AP開発手順, target: Azure AD B2C Auth

#2729 ドキュメントのレベル１見出しのidを修正
  documents/contents/app-architecture/client-side-rendering/global-function/store-design-policy.md
Labels: 内部の改善

#2747 ドメインモデルの記載を修正
  documents/_materials/images/app-architecture/client-side-rendering/csr-architecture-dark.drawio
  documents/_materials/images/app-architecture/client-side-rendering/csr-architecture-light.drawio
  documents/contents/app-architecture/client-side-rendering/csr-architecture-overview.md
  documents/contents/images/app-architecture/client-side-rendering/csr-architecture-dark.png
  documents/contents/images/app-architecture/client-side-rendering/csr-architecture-light.png
Labels: target: アーキテクチャ/CSR

#2773 DresscaのNuGetパッケージを更新する
  samples/Dressca/dressca-backend/Directory.Packages.props
  samples/Dressca/dressca-backend/src/Dressca.Web.Admin/dressca-admin-api.json
  samples/Dressca/dressca-backend/src/Dressca.Web.Consumer/dressca-api.json
  samples/Dressca/dressca-backend/src/Dressca.Web/Dressca.Web.csproj
Labels: dependencies, target: Dressca, nuget
